<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<listeners>
		<listener class-name="utilities.TestListener" />
	</listeners>
	<test name="ChromeTest" preserve-order="true">
		<parameter name="browser" value="chrome" />
		<groups>
			<run>
				<include name="Regression"></include>
				<!--<exclude name="EventCreationDirect"/>-->
			</run>
		</groups>
		<classes>
			<class name="testCases.SalesModule.LoginTest" />
			<class name="testCases.SalesModule.SalesNewNavigationTest" />
			<!-- <class
			name="testCases.SalesModule.CustomerOrPotentialCustomerListTest"/>
			<class name="testCases.SalesModule.CreateCustomerTest" />-->
			<!--<class name="testCases.SalesModule.ContactListTest" />-->
			<!--<class name="testCases.SalesModule.CreateContactTest" /> -->
			<class name="testCases.SalesModule.CreateEventTest" />
			<!--<class name="testCases.SalesModule.EventListingTest" />
			<class name="testCases.SalesModule.EventDashboardTest" />
			<class name="testCases.SalesModule.MenuServiceTest" />
			<class name="testCases.SalesModule.StaffingServiceTest" />
			<class name="testCases.SalesModule.BeverageServiceTest" />
			<class name="testCases.SalesModule.EstimatesTest" />-->
		<!--<class name="testCases.KitchenModule.KitchenNavigationTest" />-->
		</classes>
	</test>
</suite> 

