<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.SalesModule.LoginTest" />
			<!--<class name="testCases.SalesModule.AEDashbordTest" />-->
			<!-- <class name="testCases.SalesModule.CustomerOrPotentialCustomerListTest" />
			<class name="testCases.SalesModule.CreateCustomerTest" />-->
			<!--<class name="testCases.SalesModule.ContactListTest" />-->
			<!--<class name="testCases.SalesModule.CreateContactTest" /> -->
			<class name="testCases.SalesModule.CreateEventTest" />
		 <!-- 	<class name="testCases.SalesModule.EventListingTest" /> -->
		 <!--<class name="testCases.SalesModule.EventDashboardTest" />-->
			<class name="testCases.SalesModule.MenuServiceTest" />
			<class name="testCases.SalesModule.StaffingServiceTest" />
			<class name="testCases.SalesModule.EstimatesTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
